.pathCircle {
	stroke-dasharray: 51;
	stroke-dashoffset: 51;
	animation: drawPath 0.5s ease-in-out forwards;
}

.pathCheck {
	stroke-dasharray: 20;
	stroke-dashoffset: 20;
	/* animation: drawPath 1s ease-in-out forwards; */
	animation: drawPath 0.5s ease-in-out forwards;
}

@keyframes drawPath {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes showIcon {
	30% {
		/* transform: translateY(-1.2rem); */
		opacity: 1;
	}
	80% {
		/* transform: translateY(-1.2rem); */
		opacity: 1;
	}
	100% {
		/* transform: translateY(-1rem); */
		opacity: 0;
	}
}
