@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--muted-text: 215.4 16.3% 70%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--info: 217 91% 60%; /* bg-blue-500 */
		--info-dim: 213 94% 68%; /* bg-blue-400 */

		--success: 142 71% 45%; /* bg-green-500 */
		--success-dim: 142 69% 58%; /* bg-green-400 */

		--warning: 25 95% 53%; /* bg-orange-500 */
		--warning-dim: 27 96% 61%; /* bg-orange-400 */

		--destructive: 0 84% 60%; /* bg-orange-500 */
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	:root[class~="dark"] {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;
		--muted-text: 215 20.2% 35%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--info: 217 91% 60%; /* bg-blue-500 */
		--info-dim: 221 83% 53%; /* bg-blue-600 */

		--success: 142 71% 45%; /* bg-green-500 */
		--success-dim: 142 76% 36%; /* bg-green-600 */

		--warning: 25 95% 53%; /* bg-orange-500 */
		--warning-dim: 21 90% 48%; /* bg-orange-600 */

		--destructive: 0 74% 42%; /* bg-red-700 */
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		overscroll-behavior-y: none;
	}
}

a {
	@apply text-blue-600 dark:text-info;
}
